@import "./common.scss";

.form {
  // `&` is a reference to the parent
  // `-div` is the SUIT convention for the class names of child elements of components
  &-div {
    margin-bottom: $form-div-bottom-margin;

    // `--light` is the SUIT convention for the class names of named variants of a component
    // normal usage would be to include both class names, e.g.: `.form-div .form-div--light`
    &--light {
      @include light("background-color");
      //@extend .form-div; // can do this -- but generally shouldn't
      //@extend &-div; // cannot do this
      
      /* 
       * you can also extend other class names with the @extend directive, e.g.
       * @extend .form-div--light;
       */
      @extend %rounded;
    }
  }
}

.rejected {
  color: red;
  font-style: italic;
}
