$form-div-bottom-margin: 12px;
$light: #f5f5f5;

$border-radius: 4px;
$border-color: #d00;
$border-line-width: 1px;
$border-line-style: solid;

@mixin light($property) {
  #{$property}: $light;
}

%rounded {
  border-radius: $border-radius;
  padding: $border-radius;
  border: $border-line-style $border-line-width $border-color;
}

.form {
  &-div {
    margin-bottom: $form-div-bottom-margin;

    &--light {
      @include light("background-color");
      @extend %rounded;
    }
  }
}

.rejected {
  color: red;
  font-style: italic;
}
